<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
  <test name="Regression1"   >
     <classes>
            <class name="com.chief.RegistrationTests"/>
            <class name="com.chief.LoginTests"/>
            <class name="com.chief.DashBoard"/>
            <class name="com.chief.CreatePollTest"/>
            
        </classes>
 </test>
</suite>